.hero{
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("YOUR_IMAGE");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    padding: 0 80px;
}

.hero-content{
    color: white;
    max-width: 500px;
}

.hero-content h1{
    font-size: 72px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-content button{
    padding: 14px 34px;
    border: none;
    background: white;
    cursor: pointer;
}

.product-card img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    transition: 0.4s;
}

.product-card:hover img{
    transform: scale(1.03);
}